:root{
    --primary: #cdd9e5;
    --grey-1: #2d333b;
    --grey-2: #22272e;
    --grey-3: #768390;
    --grey-4: #545d68;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  body{
    background-color: var(--grey-2);
    color: var(--primary);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
a{
    text-decoration: none;
    color: var(--primary);
}

.container{
    /* min-height: 100vh; */
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-1);
    padding: 1rem;
    height: 64px;
}
.header button{
    background-color: inherit;
    border: none;
}
.fas{
    background-color: inherit;
    color: var(--primary);
    font-size: 1.5rem;
}
.fab{
    color: var(--primary);
    font-size: 2rem;
}
.far{
    color: var(--primary);
    font-size: 1rem;
}

.links{
  visibility: hidden;
  display: none;
}

.links > li {
  padding: 0 .50rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

.query {
  font-weight: 700;
  padding: .70rem;
  width: 100%;
  border: none;
  border-radius: 0.2rem;
}

.user_card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.profile{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img{
  width: 200px;
  border-radius: 50%;
  padding: 1rem;
}

.username{
  font-weight: bold;
  padding: .5rem;
}

.email{
  font-style: italic;
}

.main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
}

.repo_container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
}
.repos{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid white;
}

@media screen and (min-width: 800px){
  .menuBtn{
    display: none;
    visibility: hidden;
  }
  .links{
    visibility: visible;
  }

  .user_card {
    display: flex;
    flex-direction: row;
  }

  .img{
    width: 250px;
    
  }
  
}